/* AdminPage.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.AdminPage {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    min-height: 100vh;
    min-width: 161.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    width: 100%;
}

.AdminPageHeader {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.AdminPageHeader h1 {
    margin: 0;
    font-size: 36px;
    color: #6633FF;
    flex: 1;
    text-align: left;
    padding-left: 20px;
    font-family: "Brush Script MT";
}

.AdminPageHeader h2 {
    margin: 0;
    font-size: 24px;
    color: #6633FF;
    flex: 1;
    text-align: right;
    padding-right: 20px;
    font-family: "Brush Script MT";
}

.AdminPageHeader a {
    text-decoration: none;
    color: inherit;
}

.AdminPageBody {
    flex: 1;
    padding: 20px;
    position: relative;
}

.AdminPageBody h4{
    font-size: 35px;
    color: #6633FF;
    font-family: "Brush Script MT";
    margin-bottom: 30px;
    font-style: italic;
}

.admin-options {
    margin-bottom: 10px;
    position: relative;
}

.admin-options h3 {
    font-size: 24px;
    color: #6633FF;
    font-family: "Brush Script MT";
    margin: 0 20px;
    cursor: pointer;
}

.options-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: darkgrey;
    border: 1px solid #ccc;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 200px;
    text-align: left;
}

.options-list-top {
    top: auto;
    bottom: 100%;
}

.options-list li {
    padding: 10px;
    cursor: pointer;
}

.options-list li:hover {
    background-color: #f0f0f0;
}

.AdminPageFooter {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.user-form {
    margin: 20px 0;
    text-align: left;
}

.user-form h4 {
    font-size: 24px;
    color: #6633FF;
    font-family: "Brush Script MT";
    margin-bottom: 10px;
}

.user-form .form-fields {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; /* Permite câmpurilor să se înfășoare pe linii multiple dacă nu încap pe o singură linie */
}

.user-form input {
    padding: 10px;
    /*width: calc(20% - 10px); !* Ajustează lățimea câmpurilor pentru a încăpea pe aceeași linie *!*/
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 130px;
}

.user-form button {
    background-color: #6633FF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 5px;
}

.user-form button:hover {
    background-color: #3300FF;
}

.search-result {
    margin-top: 20px;
    text-align: left;
}

.search-result h4 {
    font-size: 24px;
    color: #6633FF;
    font-family: "Brush Script MT";
    margin-bottom: 10px;
}

.search-result pre {
    /*background-color: #f0f0f0;*/
    padding: 10px;
    border-radius: 4px;
}

.success-message {
    color: green;
    margin-top: 10px;
}

.error-message {
    color: red;
    margin-top: 10px;
}
